<html>
<head>
    <meta charset="UTF-8">
    <title>wangEditor demo</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="http://v3.jiathis.com/code_mini/jia.js"></script>
</head>
<body>
    <div id="app">
        <div class="components-container" style="margin:60px">
            <el-form id="edit" ref="form" :model="sizeForm" label-width="80px" size="mini" :rules="editrule">
                <div>
                    <el-form-item label="标题" prop="title">
                        <el-input v-model="sizeForm.title"></el-input>
                    </el-form-item>
                </div>
                <div style="position:relative;z-Index:5000;">
                    <el-form-item label="类型" prop="type">
                        <el-cascader :options="options"
                                     v-model="sizeForm.type"
                                     @@change="handleChange">
                        </el-cascader>
                    </el-form-item>
                </div>
                <div style="position:relative;z-Index:1;">
                    <el-form-item label="内容">
                        <richtext id="richtxt" ref="editorcompo"></richtext>
                    </el-form-item>
                </div>
                <div>
                    <el-form-item>
                        <el-select v-model="missorfind" placeholder="请选择贴子的种类">
                            <el-option value=1 label="丢了东西">
                            </el-option>
                            <el-option value=2 label="捡到东西">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div v-if="missorfind==2">
                    <el-form-item>
                        请输入对来联系领取的人的问题（给你一个参考，把东西还给真正的失主）:
                    </el-form-item>
                    <el-form-item prop="question">
                        <el-input v-model="sizeForm.question"></el-input>
                    </el-form-item>
                </div>

                <div>
                    <el-form-item>
                        <el-button type="primary" @@click="onSubmit" v-loading='submitting' element-loading-text="发送中">发布启事</el-button>
                        <el-button>返回</el-button>
                    </el-form-item>
                </div>
            </el-form>
        </div>
    </div>
    <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="~/js/uelib/ueditor.config.js"></script>
    <script src="~/js/uelib/ueditor.all.js"></script>
    <script src="~/js/uelib/zh-cn.js"></script>
    <script src="~/js/richtext/richtextcomponent.js"></script>
    <script src="~/js/test/ajax.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: function () {
                const exam = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请输入标题'))
                    } else {
                        callback()
                    }
                }
                return {
                    missorfind:"丢了东西",
                    submitting: false,
                    userinfo: { username:"",avatarURL:"",id:"",account: "1234" },
                    sizeForm: {
                        title: '',
                        type: '',
                        question:'',
                    },
                    editrule: {
                        title: [
                            { required: true, message: '请输入标题', trigger: 'blur' }
                        ],
                        type: [
                            { required: true, message: '请选择类型', trigger: 'blur' }
                        ]
                    },
                    options: [{}]
                };
            },
            created() { 

                let _this = this
                ajaxPost("/Common/getChoiceType", {}, function (data) {
                    if (data.code == 200) {
                        if (data.options) {
                            _this.options = data.options
                        }
                        else {
                            _this.$message({
                                message: '获取类别为空',
                                type: 'error',
                                duration: 2000
                            })
                        }

                    }
                    else { 
                        _this.$message({
                            message: '获取类别失败',
                            type: 'error',
                            duration: 2000
                        })
                    }
                })
            },
            methods: {
                onSubmit(ev) {
                    console.log('submit!');
                    let _this = this
                    this.$refs.form.validate((valid) => {
                        if (valid) {
                            var url = ""
                            _this.submitting = true
                            postdata = { title: _this.sizeForm.title, type: _this.sizeForm.type.toString(), content: _this.$refs.editorcompo.geteditor().getContent(), account: _this.userinfo.account, question: _this.sizeForm.question }
                            console.log(postdata)
                            if (_this.missorfind == 1)
                                url = "/ReleaseMissing/Submit"
                            else
                                url = "/ReleaseFinding/Submit"
                            ajaxPost(url, postdata, function (data) {
                                if (data.code == 200) {
                                    if (data.result) {
                                        _this.$message({
                                            message: '发送成功!',
                                            type: 'success',
                                            duration: 5000
                                        })
                                        _this.$refs.form.resetFields()
                                        $(location).attr('href', '/Main/Main');


                                    }
                                    else {
                                        _this.$message({
                                            message: '发送失败!',
                                            type: 'error',
                                            duration: 2000
                                        })
                                        _this.$refs.form.resetFields()
                                    }

                                }
                                else {
                                    _this.$registering = false
                                    Message({
                                        message: '发送异常!',
                                        type: 'error',
                                        duration: 2000
                                    })
                                }
                                _this.submitting = false

                            })
                        }
                    })

                },
                handleChange(value) {
                    console.log(value.toString());
                }
            }
        })
    </script>
</body>
</html>