<html>
<head>
    <meta charset="UTF-8">
    <title>wangEditor demo</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="http://v3.jiathis.com/code_mini/jia.js"></script>
</head>
<body>
    <div id="app">
        <div class="components-container" style="margin:60px">
            <el-form id="edit" ref="form" :model="sizeForm" label-width="80px" size="mini" :rules="editrule">
                <div>
                    <el-form-item label="标题" prop="title">
                        <el-input v-model="sizeForm.title"></el-input>
                    </el-form-item>
                </div>
                <div style="position:relative; z-index:99;" prop="type">
                    <el-form-item label="类型">
                        <el-cascader :options="options"
                                     v-model="sizeForm.type"
                                     @@change="handleChange">
                        </el-cascader>
                    </el-form-item>
                </div>
                <div style="position:relative; z-index:9;">
                    <el-form-item label="内容">

                    </el-form-item>
                </div>
                <div>
                    <el-form-item>
                        <richtext id="richtxt"></richtext>
                    </el-form-item>
                </div>
                <div>
                    <el-form-item>
                        <el-button type="primary" @@click="onSubmit">发布启事</el-button>
                        <el-button>返回</el-button>
                    </el-form-item>
                </div>
            </el-form>
        </div>
    </div>
    <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="~/js/uelib/ueditor.config.js"></script>
    <script src="~/js/uelib/ueditor.all.js"></script>
    <script src="~/js/uelib/zh-cn.js"></script>
    <script src="~/js/richtext/richtextcomponent.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: function () {
                const exam = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请输入标题'))
                    } else {
                        callback()
                    }
                }
                return {
                    sizeForm: {
                        title: '',
                        type: '',
                    },
                    editrule: {
                        title: [
                            { required: true, message: '请输入标题', trigger: 'blur' }
                        ],
                        type: [
                            { required: true, message: '请选择类型', trigger: 'blur' }
                        ]
                    },
                    options: [{}]
                };
            },
            methods: {
                onSubmit(ev) {
                    console.log('submit!');
                    let _this = this
                    this.$refs.form.validate((valid) => {
                        if (valid) {
                            _this.registering = true
                            ajaxPost("/Login/register", _this.form, function (data) {
                                if (data.code == 200) {
                                    if (data.result) {
                                        _this.$message({
                                            message: '发送成功!',
                                            type: 'success',
                                            duration: 5000
                                        })
                                        _this.$refs.form.resetFields()

                                    }
                                    else {
                                        _this.$message({
                                            message: '发送失败!',
                                            type: 'error',
                                            duration: 2000
                                        })
                                        _this.$refs.form.resetFields()
                                    }

                                }
                                else {
                                    _this.$registering = false
                                    Message({
                                        message: '发送失败!',
                                        type: 'error',
                                        duration: 2000
                                    })
                                }
                            })
                        }
                    })

                },
                handleChange(value) {
                    console.log(value);
                }
            }
        })
    </script>
</body>
</html>