@model Demo.Models.Owner

<html>
<head>
    <meta charset="utf-8">
    <title>丢了么</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="http://v3.jiathis.com/code_mini/jia.js"></script>
</head>
<body>
    <div id="app">
        <div id="missingid" hidden="hidden">@(Model.ID)</div>
        <div id="questionDetail">
            <div id="question-answer">
                <div id="questionContent" v-loading='missingLoading' element-loading-text="拼命加载中">
                    <div id="question-top-panel">
                        <div class="question-title">
                            <h3>
                                {{ missing.missingTitle }}
                            </h3>
                        </div>
                    </div>
                    <div id="question-detail"
                         v-html="missing.missingContent">
                    </div>
                    <div class="question-info" style="margin-right: 20px;margin-top: -30px">
                        <el-tooltip content="给丢东西的人发个私信告诉他东西在哪吧" placement="top">
                            <el-button @@click.prevent="writeMessage()" size="small" icon="edit" type="info">写私信</el-button>
                        </el-tooltip>
                        <el-tooltip v-if="!missing.complete && !isCurrentUser" content="为该问题贡献自己的答案吧" placement="top">
                            <el-button @@click.prevent="writeReply()" size="small" icon="edit" type="info">写回答</el-button>
                        </el-tooltip>
                        <el-tooltip v-if="!missing.complete && isCurrentUser" content="去修改自己的问题" placement="top">
                            <el-button @@click.prevent="modifyAnswer()" size="small" icon="edit" type="info">修改问题</el-button>
                        </el-tooltip>
                    </div>
                    <el-dialog size="large" :visible.sync="replydialogVisible" ref="replyinput">
                        <div id="userinfo" style="top: 10px; margin-bottom: 20px">
                            <h3>感谢您的回答</h3>
                            <img class="useravatar" :src="userInfo.avatarURL" />
                            <span>{{ userInfo.username }}</span>
                        </div>
                        <div style="margin-top: 20px">
                            <richtext id="richtxt" ref="richreply">

                            </richtext>
                        </div>
                        <div slot="footer" class="dialog-footer">
                            <el-button @@click.prevent="replydialogVisible = false">取 消</el-button>
                            <el-button type="primary" @@click.prevent="submitReply()">确 定</el-button>
                        </div>
                    </el-dialog>
                    <el-dialog size="large" :visible.sync="messagedialogVisible" ref="replyinput">
                        <div id="userinfo" style="top: 10px; margin-bottom: 20px">
                            <img class="useravatar" :src="userInfo.avatarURL" />
                            <h3>向<span>{{ userInfo.username }}</span>发送私信</h3>
                        </div>
                        <div style="margin-top: 20px">
                            <el-input type="textarea"
                                      :autosize="{ minRows: 2, maxRows: 4}"
                                      placeholder="请输入私信内容"
                                      v-model="messagetouser">
                            </el-input>
                        </div>
                        <div slot="footer" class="dialog-footer">
                            <el-button @@click.prevent="messagedialogVisible = false">取 消</el-button>
                            <el-button type="primary" @@click.prevent="submitMessage()">确 定</el-button>
                        </div>
                    </el-dialog>
                </div>
                <div id="answers-panel"
                     v-loading.lock="replyLoading" element-loading-text="拼命加载中">
                    <div id="answer-summary">
                        共有 {{ answerNum }} 个回答
                        <el-radio-group @@change="answerSortChange()" size="small" id="sort-panel" v-model="sortParamLabel" style="margin-top: -10px">
                            <el-radio-button label="默认"></el-radio-button>
                            <el-radio-button label="时间"></el-radio-button>
                        </el-radio-group>
                    </div>
                    <div v-for="replydata in allreply" class="answer">
                        <reply :is-current-user="isCurrentUser" :reply-Data="replydata" :complete="missing.complete" @@onToggleComment="lastScrollTop = -1"></reply>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .answer {
            border-bottom: 1px solid grey;
            margin-bottom: 10px;
        }

            .answer .user-avatar {
                width: 38px;
                height: 38px;
                border-radius: 2px;
                background: #fff;
                vertical-align: top;
                margin-right: 10px;
                margin-bottom: 10px;
            }

        .feedback > span {
            margin-right: 10px;
        }

        .feedback > span {
            cursor: pointer;
        }

            .feedback > span:hover {
                color: #017E66;
            }

        .user-info {
            cursor: pointer;
        }

        #answers-panel {
            border: 1px solid #ddd;
            background: #f9fafc;
            padding: 2rem;
            margin: 1rem;
        }

        #sort-panel {
            float: right;
            margin-right: 5px;
        }

        #answer-summary {
            margin-bottom: 10px;
            border-bottom: solid 2px saddlebrown;
            padding-bottom: 5px;
        }

        #questionContent {
            border: 1px solid #ddd;
            background: #f9fafc;
            padding: 2rem;
            margin: 1rem;
        }

        #question-detail {
            clear: both;
            margin-top: 70px;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .question-title {
            float: left;
            width: 60%;
        }

        .question-info {
            margin-bottom: -10px;
            margin-right: 30px;
            float: right;
            width: 20%;
        }

            .question-info span {
                width: 100%;
            }

        #userinfo .useravatar {
            width: 38px;
            height: 38px;
            vertical-align: top;
            margin-bottom: 20px;
            margin-right: 20px;
        }

        #userinfo .useravatar {
            width: 38px;
            height: 38px;
            vertical-align: top;
            margin-bottom: 20px;
            margin-right: 20px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/js/test/ajax.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="//aeu.alicdn.com/js/cj/109.js" id="AWSC_uabModule"></script>
    <script type="text/javascript" class="nc-required-js-1 nc-umid-script" src="//g.alicdn.com/security/umscript/3.3.2/um.js"></script>
    <script type="text/javascript" class="nc-required-js-1 nc-uab-script" src="//af.alicdn.com/js/uac.js?_t=212358"></script>
    <script type="text/javascript" src="~/js/wangEditor.min.js"></script>
    <script type="text/javascript">
                //var E = window.wangEditor
                //var editor = new E('#richtxt')
                //// 或者 var editor = new E( document.getElementById('editor') )
                ////editor.customConfig.uploadImgServer = '/Home/Upload'
                //editor.customConfig.customUploadImg = function (files, insert) {
                //    // files 是 input 中选中的文件列表
                //    // insert 是获取图片 url 后，插入到编辑器的方法
                //    var uploadData = new FormData();
                //    for (var i = 0; i < files.length; i++) {
                //        uploadData.append(files[i].name, files[i]);
                //    }
                //    $.ajax({
                //        type: "POST",
                //        url: "/ReleaseMissing/OnPostUpload",
                //        beforeSend: function (xhr) {
                //            xhr.setRequestHeader("XSRF-TOKEN",
                //                $('input:hidden[name="__RequestVerificationToken"]').val());
                //        },
                //        data: uploadData,
                //        processData: false,
                //        contentType: false,
                //        async: false,
                //        success: function (response) {
                //            for (var i = 0; i < response.length; i++) {
                //                insert(response[i].url);
                //            }
                //        },
                //        failure: function (response) {
                //            alert("faliar");
                //        }
                //    });
                //}
    </script>
    <script src="~/js/uelib/ueditor.config.js"></script>
    <script src="~/js/uelib/ueditor.all.js"></script>
    <script src="~/js/uelib/zh-cn.js"></script>
    <script src="~/js/richtext/richtextcomponent.js"></script>
    <script src="~/js/Missing/replycomponent.js"></script>
    <script src="~/js/Missing/missing.js"></script>

</body>
</html>
