<html>
<head>
    <meta charset="utf-8">
    <title>丢了么</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="http://v3.jiathis.com/code_mini/jia.js"></script>
</head>
<body>
<div id="editor">

</div>
<script src="~/js/uelib/ueditor.config.js"></script>
<script src="~/js/uelib/ueditor.all.js"></script>
<script src="~/js/uelib/zh-cn.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor('editor');
</script>
</body>
</html>
