<html>
<head>
    <meta charset="utf-8">
    <title>丢了么</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="http://v3.jiathis.com/code_mini/jia.js"></script>
</head>
<body>
    <div id="app">
        <el-container>
            <el-header>
            </el-header>
            <el-container>
                <el-aside>
                    <div v-loading='loadingtypes' element-loading-text="玩命加载中"></div>
                    <el-menu :default-openeds="openindex" v-model="missingtype">
                        <el-submenu v-for="value in typedatas" :index="value.index">
                            <template slot="title">
                                <i class="el-icon-message"></i>{{value.type}}
                            </template>
                            <el-menu-item-group>
                                <el-menu-item v-for="childvalue in value.children" :index="childvalue.index" @@click="getMissingbytype(childvalue.type,value.index)">{{childvalue.type}}</el-menu-item>
                            </el-menu-item-group>
                        </el-submenu>
                      
                    </el-menu>
                </el-aside>
                <el-container>
                    <el-header>
                        <span id="choose-params-panel">
                            <el-radio-group v-model="sortParamRadio" @@change="radioChange()">
                                <el-radio-button label=1>不幸丢失的帖子</el-radio-button>
                                <el-radio-button label=2>拾物不昧的帖子</el-radio-button>
                            </el-radio-group>
                        </span>
                    </el-header>
                    <el-main>
                        <div v-loading='loadingmissings' element-loading-text="玩命加载中"></div>
                        <div v-for="infoOverview in 
                             
                             ">
                            <info-overview v-bind:info-Overview="infoOverview"></info-overview>
                        </div>
                    </el-main>
                    <el-footer>
                        <el-pagination background layout="prev, pager, next" :total="1000"></el-pagination>
                    </el-footer>
                </el-container>
            </el-container>
        </el-container>
    </div>
    <style>


        .el-aside {
            color: #333;
        }
        .publisherInfo {
            float: left;
            margin-right: 10px;
            width: 75px;
            text-align: center;
            height: 100%;
            min-width: 50px;
            cursor: pointer;
        }

            .publisherInfo .avatar {
                width: 50px;
                height: 50px;
                margin: 0 auto;
                vertical-align: middle;
                display: block;
                border: green solid 1px;
            }

        .summary {
            padding: 5px;
            float: left;
            margin-right: 10px;
            width: 70%;
            min-height: 50px;
            border-right: solid grey 1px;
            border-left: solid grey 1px;
        }

            .summary h3 {
                overflow: hidden;
            }

            .summary a {
                color: #38935f;
            }

            .summary .publish-date {
                clear: left;
                float: right;
            }

        .info {
            float: right;
            width: 15%;
        }

            .info > div {
                margin-bottom: 5px;
            }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/js/test/ajax.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="//aeu.alicdn.com/js/cj/109.js" id="AWSC_uabModule"></script>
    <script type="text/javascript" class="nc-required-js-1 nc-umid-script" src="//g.alicdn.com/security/umscript/3.3.2/um.js"></script>
    <script type="text/javascript" class="nc-required-js-1 nc-uab-script" src="//af.alicdn.com/js/uac.js?_t=212358"></script>
    <script src="~/js/Main/mainpage.js"></script>
</body>
</html>